<section id="dowload-app">
    <div class="container">
        <img class="mobiles" src="/images/downloads/screens.svg" alt="Image of showing apps on a mobile phone" />
        <div class="content">
            <h1>Download Our App for Any Devices:</h1>
            <div class="box">
                <p>App Store</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

                <div class="split">
                    <div>
                        <h4>Editor's Choice</h4>
                        <span>rating 4.7, 187K+ reviews</span>
                    </div>
                    <div>
                        <img src="/images/downloads/appstore.svg" alt="Image of an App Store button" />
                    </div>
                </div>
            </div>

            <div class="box">
                <p>Google Play</p>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="split">
                    <div>
                        <h4>App of the Day</h4>
                        <span>rating 4.8, 30K+ reviews</span>
                    </div>
                    <div>
                        <img src="/images/downloads/googleplay.svg" alt="Image of a Google Play button" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}
