<section id="tools">
    <div class="container">
        <div class="section-title">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>

        <div class="columns">
            <div class="column">
                <img src="/images/tools/Google.svg" alt="Image of a google icon" />
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>

            <div class="column">
                <img src="/images/tools/Zoom.svg" alt="Image of a zoom icon" />
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>

            <div class="column">
                <img src="/images/tools/Slack.svg" alt="Image of a slack icon" />
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="column">
                <img src="/images/tools/gmail.svg" alt="Image of a gmail icon" />
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>

            <div class="column">
                <img src="/images/tools/Trello.svg" alt="Image of a trello icon" />
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>

            <div class="column">
                <img src="/images/tools/MailChimp.svg" alt="Image of a mailchimp icon" />
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>

            <div class="column">
                <img src="/images/tools/Dropbox.svg" alt="Image of a dropbox icon" />
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>

            <div class="column">
                <img src="/images/tools/Evernote.svg" alt="Image of an evernote icon" />
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>

    </div>
</section>

@code {

}
