#skills{


    .container{
        
        background-color: $gray-100;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content{
            display: grid;
            gap: 1.5rem;
            padding: 80px 140px;

            h3{
                max-width: 450px;
                line-height: 1.4;
                span{
                    color: $theme;
                }
            }

            .btn-theme{
                max-width: 140px;
                padding: 14px 0px;  
            }
        }

        img{

            display: none;
    
            @include xl{
                display: flex;
            }    
        }
    }
}